<%- include('./common/header.ejs'); %>

<div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b><u>Appointments</u></b></h5>

          <p class="card-text">
            View all the Appointments booked for today, and respective information
          </p>

          <a href="./appointments" class="card-link">Appointments</a>
          <!-- <a href="./specialities" class="card-link">View Specialities</a> -->
        </div>
      </div>

      

      <!-- <div class="card">
        <div class="card-header">
          <h5 class="m-0">Events</h5>
        </div>
        <div class="card-body">
          <h6 class="card-title"><b>All Events</b></h6>
          <p class="card-text">
            Create New Events, View Events, View Event Registrations
          </p>
          <a href="./all-events" class="btn btn-primary">View All Events</a>
          <a href="./active-events" class="btn btn-primary">View Active Events</a>

        </div>
        <div class="card-body">
          <h6 class="card-title"><b>Create New Event</b></h6>

          <p class="card-text">Enter Details & Crate New Event</p>
          <a href="./new-event" class="btn btn-primary">New Event</a>
        </div>
        <div class="card-body">
          <h6 class="card-title"><b> Manage Events</b></h6>

          <p class="card-text">View Events, Update Event Details, Deactivate an Event, View Event Registrations & Delete an Event</p>
          <a href="./all-events" class="btn btn-primary">Manage Event</a>
        </div>
      </div> -->

      
    </div>
    
    <!-- /.col-md-6 -->
    <div class="col-lg-6">

        
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h5 class="m-0">Featured</h5>
        </div>
        <div class="card-body">
          <h6 class="card-title"><b><u>New Doctor</u></b></h6>
          <p class="card-text">Register a new doctor and let them know to setup there account! They just have to login
            and they'll see option to setup there profile!</p>
          <a href="/admin/new-doctor" class="btn btn-primary">New Doctor</a>
          <br class="p-2">
          <h6 class="card-title"><b><u>View All Doctors</u></b></h6>
          <p class="card-text">View All Doctors</p>
          <a href="/admin/all-doctors" class="btn btn-primary">View Doctors</a>
        </div>
      </div>

     <!--  <div class="card">
        <div class="card-header">
          <h5 class="m-0">Doctors</h5>
        </div>
        <div class="card-body">
          <h6 class="card-title">View All Doctors</h6>

          <p class="card-text">View Information / Profiles of the doctors</p>
          <a href="./doctors" class="btn btn-primary">View doctors</a>
        </div>
      </div> -->

      <!-- <div class="card card-primary card-outline">
        <div class="card-body">
          <h5 class="card-title"><b><u>Blogs</u></b></h5>

          <p class="card-text">
            Edit Blogs or Create New Blogs
          </p>
          <a href="/blogs" class="card-link">View All Blogs</a>
          <a href="/blogs/new" class="card-link">Create New Blog</a>
        </div>
      </div> -->

      
      <!-- <div class="card card-primary card-outline">
        <div class="card-body">
          <h5 class="card-title"><b><u>Appointments</u></b></h5>

          <p class="card-text">
            Change Appointment Fees for all the doctors at the same time
          </p>
          <a href="#" id="changeFees" class="card-link">Change</a>
          <!-- <a href="/blogs/new" class="card-link">Create New Blogs</a> -->
        </div>
      </div> -->


      
     
    </div>
    <!-- /.col-md-6 -->
  </div>
  <!-- /.row -->


  <%- include('./common/footer.ejs'); %>